nav.navbar {
  display: flex;
  justify-content: end;
  background-color: #242424;
  font-family: "Roboto", sans-serif;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  height: fit-content;
}

nav.navbar .nav_container {
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

nav.navbar .nav_container .user_info {
  background-color: red;
}

nav.navbar ul {
  display: flex;
  background-color: #282e3b;
  height: 64px;
  border-radius: 12px;
  margin-right: 30px;
}

nav.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 64px;
  border-radius: 12px;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

nav.navbar ul li:is(.active, :hover) {
  background: linear-gradient(
    88.18deg,
    #282e3b -209.49%,
    #333c4f 30.26%,
    #363f54 89.68%
  );
}
