.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #242424;
	font-family: "Roboto", sans-serif;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.navbar-logo h3 {
	margin: 10px;
	font-size: 1.5rem;
	color: rgb(204, 220, 241);
}
.navbar-logo h3:hover {
	background-color: #222222;
	border-radius: 100% 55% 200% 55%/35% 200% 5% 100%;
	transform: scale(1.1);
	transition: transform 0.2s ease-in-out;
}

.navbar-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navbar-item {
	cursor: pointer;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	margin: 10px;
}

.navbar-link {
	position: relative;
	color: rgb(201, 229, 194);
	text-decoration: none;
}

.navbar-link:hover {
	background-color: #b0c9a5;
	color: rgb(45, 45, 44);
	border-radius: 100% 55% 200% 55%/35% 200% 5% 100%;
	transform: scale(1.1);
	transition: transform 0.2s ease-in-out;
}

.navbar-mobile-icon {
	display: none;
	color: white;
	font-size: 1.5rem;
}

@media (max-width: 768px) {
	.navbar-logo {
		display: flex;
		flex-direction: row-reverse;
	}
	.navbar {
		flex-direction: row;
		height: auto;
	}

	.navbar-links {
		display: none;
		width: 100%;
		flex-direction: column;
		align-items: center;
		margin: 10px;
	}

	.navbar-links.active {
		display: flex;
	}

	.navbar-mobile-icon {
		display: block;
		cursor: pointer;
		margin-top: 3px;
		margin-right: 20px;
	}
}
